<!DOCTYPE html>
<html ng-app ="noterApp">
  <head>
    <title>Noter from Ben</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="frontEndJs/main.js"></script>
  </head>
  <body>
    <h1>Note Me Something</h1>
    <div class="container-fluid">
      <div ng-controller="savedNotesController">
        <h3>Your Saved Notes</h3>

        <form novalidate class="simple-form">
          <label>Subject: <input type="text" ng-model="newNote.subject" /><br />
          <label>Note: <input type="text" ng-model="newNote.comment" /><br />
          <input type="button" ng-click="reset()" value="Reset" />
          <input type="submit" ng-click="update(newNote)" value="Save" />

          <div class= panel panel-default ng-repeat="note in notes">
            <p class="panel-body">Subject: {{note.subject}} | Comment: {{note.comment}}</p>
          </div>
        </form>

          <pre>newNote = {{newNote | json}}</pre>
          <pre>saveNote = {{saveNote | json}}</pre>
      </div>
    </div>

  </body>
</html>
